@font-face {
  font-family: "Great Vibes";
  src: url("fonts/GreatVibes-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Handlee";
  src: url("fonts/Handlee-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bellefair";
  src: url("fonts/Bellefair-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Eyesome Script";
  src: url("fonts/EyesomeScript.ttf");
  font-weight: 400;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes";
}

.eyesome-script-regular {
  font-family: "Eyesome Script";
}

.handlee-regular {
  font-family: "Handlee";
  font-weight: bold;
}

.handlee-bold {
  font-family: "Handlee";
  font-weight: 900;
}

.bellefair-regular {
  font-family: "Bellefair";
}

.bellefair-bold {
  font-family: "Bellefair";
  font-weight: 900;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  align-content: center;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  mix-blend-mode: overlay;
}

.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.text-container {
  position: fixed;
  margin-top: auto;
  width: inherit;
  max-width: inherit;
  bottom: 40%;
  vertical-align: middle;
}

.button-container {
  position: fixed;
  width: inherit;
  max-width: inherit;
  bottom: 5%;
}

.text-container h1 {
  font-size: 4rem;
  color: #ebbf13;
  margin: auto 20px;
}

.text-container p {
  font-size: 1.5rem;
  color: rgb(235, 191, 19);
  opacity: 0.75;
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn {
  display: flex;
  padding: 20px;
  margin: 20px 20px;
  color: rgb(235, 191, 19);
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  justify-content: center;
  vertical-align: middle;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(235, 191, 19, 0.2);
  border: 3px solid rgba(235, 191, 19, 0.6);
}

.btn a {
  color: rgb(235, 191, 19);
  text-decoration: none;
  opacity: 0.75;
}

.button-icon {
  position: absolute;
  left: 25px;
  fill: rgb(235, 191, 19);
  height: 2rem;
  width: 2rem;
  opacity: 0.75;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
